ul {
  list-style-type: none; /* Removes the bullets */
  margin: 0;
  padding: 0;
  background-color: #0c72a9;
  overflow: hidden;
}

li {
  float: left; /* Makes the items sit horizontally */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /* Removes the underline */
}

li a:hover {
  background-color: #111; /* Adds a hover effect */
}
